html {
  font-family: 'Nunito', sans-serif;
}

.logo-div {
  max-width: 5em;
}

.img-center {
  margin: 0 auto;
}

.grey {
  color: #7b7b7b;
}

.social-icon {
  max-width: 3.75em;
  min-width: 2em;
}

.social-icon:hover {
  transform: scale(1.2);
  transition: all 150ms ease;
}

@media only screen and (min-width: 0em) {

  hr {
    margin: 0 auto;
    max-width: 85%;
    border: 3px solid #ff9160;
  ]

}

@media only screen and (min-width: 60em) {

  hr {
    max-width: 55%;
  ]

}
